## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [115]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [10]:
sex_count = data.groupby(['sex'])['sex'].count()
print(sex_count)

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
male_age_avg = data.where(data['sex'] == 'Male').groupby(['sex'])['age'].mean()
print(male_age_avg)

sex
Male    39.433547
Name: age, dtype: float64

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
general_count = data['native-country'].count()
print(general_count)
usa_count = data.where(data['native-country'] == 'United-States')['native-country'].count()
print(usa_count)
usa_in_general = usa_count / general_count * 100
print(usa_in_general)

32561
29170
89.5857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
salary_age_avg = data.groupby(['salary'])['age'].mean()
print(salary_age_avg)
salary_age_std = data.groupby(['salary'])['age'].std()
print(salary_age_std)

salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64
salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [14]:
sal1 = data.where(data['salary'] == '>50K').groupby(['salary','education'])['education'].unique()
print(sal1)

salary  education
>50K    10th                    [10th]
        11th                    [11th]
        12th                    [12th]
        1st-4th              [1st-4th]
        5th-6th              [5th-6th]
        7th-8th              [7th-8th]
        9th                      [9th]
        Assoc-acdm        [Assoc-acdm]
        Assoc-voc          [Assoc-voc]
        Bachelors          [Bachelors]
        Doctorate          [Doctorate]
        HS-grad              [HS-grad]
        Masters              [Masters]
        Prof-school      [Prof-school]
        Some-college    [Some-college]
Name: education, dtype: object

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [65]:
stat = data.groupby(['race','sex'])['age'].describe()
print(stat)
stat1 = stat['max'].loc['Asian-Pac-Islander','Male']
print(f'Asian-Pac-Islander male max age: {stat1}')

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Asian-Pac-Islander male max age: 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [77]:
married_perc = data[data['salary'] == '>50K']['marital-status'].str.startswith('Married').value_counts(True) * 100
print(married_perc)

True     85.90741
False    14.09259
Name: marital-status, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [93]:
max_hours = data['hours-per-week'].max()
print(f'max hours per week: {max_hours}')
people_max = data[data['hours-per-week'] == max_hours]['hours-per-week'].count()
print(f'how many people work max hours: {people_max}')
rich_p = data[data['hours-per-week'] == max_hours].where(data['salary'] == '>50K')['salary'].count()
print(f'who earns a lot: {rich_p}')
percents = rich_p / people_max * 100
print(f'percents of rich people: {percents}')

max hours per week: 99
how many people work max hours: 85
who earns a lot: 25
percents of rich people: 29.411764705882355

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [96]:
avg_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
print(avg_hours)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [125]:
data['AgeGroup'] = ''
for i in range(data['age'].count()):
    if 16 <= data['age'].iloc[i] < 35:
        data['AgeGroup'].iloc[i] = 'young'
    elif 35 <= data['age'].iloc[i] < 70:
        data['AgeGroup'].iloc[i] = 'adult'
    elif 70 <= data['age'].iloc[i] < 100:
        data['AgeGroup'].iloc[i] = 'retiree'
    else:
        data['AgeGroup'].iloc[i] = 'Nan'
ddata = data[['age','AgeGroup']]
print(ddata)

C:\Users\Настя\AppData\Local\Temp\ipykernel_23100\4198845760.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['AgeGroup'].iloc[i] = 'adult'
C:\Users\Настя\AppData\Local\Temp\ipykernel_23100\4198845760.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['AgeGroup'].iloc[i] = 'young'
C:\Users\Настя\AppData\Local\Temp\ipykernel_23100\4198845760.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['AgeGroup'].iloc[i] = 'retiree'

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [149]:
agegroup_count = data[data['salary'] == '>50K'].groupby('AgeGroup')['AgeGroup'].count()
print(agegroup_count)
max_count = agegroup_count.max()
max_agegroup_count = agegroup_count[agegroup_count == max_count].index[0]
print(max_agegroup_count)

AgeGroup
adult      6240
retiree     113
young      1488
Name: AgeGroup, dtype: int64
adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [243]:
occup_count = data.groupby(['occupation'])['occupation'].count()
occup_groups = occup_count.keys()
occup_groups_count = len(occup_count.index)
def filter_func(group, occupp_count):
    avg_age = data[data['occupation'] == 'group']['age'].mean()
    work_hours_more_than_5 = data[data['occupation'] == 'group']['hours-per-week'] > 5
    for i in range(occupp_count):
        if avg_age <= 40 and work_hours_more_than_5.iloc[i] == True:
            return f'{group} is cool'
        else:
            return f'{group} is not cool group'
        

#for j in range(occup_groups_count)
    #print(filter_func(occup_groups[j], occup_count[j]))

grouped_df = data.groupby('occupation')

def filter_func(group):
    return (group['age'].mean() < 40) & (group['hours-per-week'].min() > 5)

grouped_df.filter(filter_func)

       age    workclass  fnlwgt     education  education-num  \
442     24  Federal-gov  191073       HS-grad              9
1300    29  Federal-gov  301010  Some-college             10
14613   39  Federal-gov  227597       HS-grad              9
16111   24  Federal-gov  287988     Bachelors             13
18034   34  Federal-gov  172716          12th              8
18644   23  Federal-gov  163870  Some-college             10
18769   30  Federal-gov   76313       HS-grad              9
25799   46  Federal-gov  344415       Masters             14
32316   23  Federal-gov  173851       HS-grad              9

           marital-status    occupation    relationship                race  \
442         Never-married  Armed-Forces       Own-child               White
1300        Never-married  Armed-Forces   Not-in-family               Black
14613       Never-married  Armed-Forces   Not-in-family               White
16111       Never-married  Armed-Forces   Not-in-family               White
18034  Married-civ-spouse  Armed-Forces         Husband               White
18644       Never-married  Armed-Forces  Other-relative               White
18769  Married-civ-spouse  Armed-Forces  Other-relative  Amer-Indian-Eskimo
25799  Married-civ-spouse  Armed-Forces         Husband               White
32316       Never-married  Armed-Forces   Not-in-family               White

        sex  capital-gain  capital-loss  hours-per-week native-country salary  \
442    Male             0             0              40  United-States  <=50K
1300   Male             0             0              60  United-States  <=50K
14613  Male             0             0              50  United-States  <=50K
16111  Male             0             0              40  United-States  <=50K
18034  Male             0             0              40  United-States  <=50K
18644  Male             0             0              40  United-States  <=50K
18769  Male             0             0              48  United-States  <=50K
25799  Male             0          1887              40  United-States   >50K
32316  Male             0             0               8  United-States  <=50K

      AgeGroup
442      young
1300     young
14613    adult
16111    young
18034    young
18644    young
18769    young
25799    adult
32316    young